*.iml
.gradle
/local.properties
notes.jks
/.idea/
.DS_Store
/build
/*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.output
app/build/
.gradle/
.github_creds/
dev_docs/
.gemini_tools/
keystore.properties
*.jks
*.keystore
app/release/
*.aab
